//card container styling
@mixin card-container($color, $data-type) {
  background-color: $color;
  grid-area: $data-type;
  margin: .5vw;
}

//border
@mixin no-border($value) {
  border: $value;
  outline: $value;
}

//@font-face
@mixin font-style($size, $spacing) {
  font-size: $size;
  letter-spacing: $spacing;
}

//display
@mixin display($justify) {
  display: flex;
  justify-content: $justify;
}

//buttons
@mixin main-button-style($image) {
  background-position: center;
  background-size: 3.4vw;
  background-color: transparent;
  border: none;
  display: inline;
  height: 3.4vw;
  width: 3.4vw;
  background-image: $image;

}

@mixin profile-button() {
  background-image: url(../images/profile.png);
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  float: right;
  height: 5.6vw;
  margin-right: .5vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}
