//color
$black: #1F1F1F;
$soft-white: #fff;
$contrast-green: #149405;

//font
$main-box-font-family: 'Work Sans', sans-serif;

//buttons
$go-back: url(../images/goback.svg);
$info: url(../images/info.svg);
$calendar: url(../images/calendar.svg);
$friends-button: url(../images/friends.svg);
$trending-button: url(../images/trending.svg);
$input-button: url(../images/newinput.svg)
