//color
$black: #1F1F1F;

//font
$main-box-font-family: 'Work Sans', sans-serif;

//border

//buttons
$go-back: url(../images/goback.svg);
$info: url(../images/info.svg);
$calendar: url(../images/calendar.svg);
$friends-button: url(../images/friends.svg);
$trending-button: url(../images/trending.svg);
