@import 'variables';
@import 'mixins';

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background-color: $black;
  font-family: 'Oswald', sans-serif;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
}

button:active {
  @include no-border(none);
}

#profile-button {
  @include profile-button();
  &:hover {
    @include button-hover
  }
}

#user-info-dropdown {
  background-color: $black;
  color: $soft-white;
  margin: -1.2% 0 0 60%;
  position: relative;
  text-align: center;
  z-index: 100;
  border: 2px solid white;
}

#dropdown-name {
  text-align: left;
  margin-left: 1vw;
}

.dropdown-p {
  @include font-style(1.5vw, normal, 300);
  padding: 0 0 1vw 0;
  text-align: center;
  width: 100%;
}

/* TEXT ELEMENTS */
h1 {
  color: $soft-white;
  display: inline;
  @include font-style(5.4vw, .2em, normal);
}

h2 {
  display: inline;
  font-family: $main-box-font-family;
  @include font-style(2.4vw, .2em, 700);
}

h3 {
  @include font-style(6.75vw, .1em, bold);
}


h4 {
  font-size: 5.6vw;
}

h5 {
  font-size: 1.8vw;
  padding-bottom: 1vw;
  text-align: center;
}

p {
  font-family: $main-box-font-family;
  @include font-style(1.2vw, .2vw, 600);
  margin-right: 1vw;
  padding-top: 2vw;
  text-align: right;
  width: 9vw;
  word-break: keep-all;
}

.feedback-container{
  display: center;
  height: auto;
}

.input-feedback{
  color: $soft-white;
  @include font-style(2vw, .2vw, 400);
  width: 100%;
  padding: .5vw 0 .5vw 0;
  text-align: center;

}

/* MAIN */
main {
  display: grid;
  grid-template-areas:
  'steps hydration'
  'stairs sleep';
  height: 100%;
}

.main-card {
  @include display(center);
  align-items: center;
  flex-direction: column;
  height: 20vw;
}

.main-card-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-card-row {
  @include display(space-between);
  align-items: center;
  width: 100%;

}

#steps-card-container {
  @include card-container(#E66100, steps);
}

#hydration-card-container {
  @include card-container(#0C7BDC, hydration);
}

#stairs-card-container {
  @include card-container(#8975B2, stairs);
}

#sleep-card-container {
  @include card-container(#23879f, sleep);
}

.calendar-card {
  padding-bottom: 10%;
}


.card-data-line {
  @include display(center);
  flex-direction: row;
  margin: -4vw 0 2vw 0;
}

.info-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $text-info-width;
  padding: 0;
}

.info-number {
  width: $text-info-width;
}

// Input
label {
  @include font-style(6vh, normal, 600);
}

input {
  text-align: center;
  margin-left: 1vw;
  height: 6vh;
  padding: 0.5vw;
  font-size: 3vh;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1vh;
  margin: -4vw 0 4vw 0;
}

.input-container {
  display: flex;
  align-items: center;
}

.submit-button {
  font-family: $main-box-font-family;
  @include font-style(3vw, .2em, 700);
  background-color: #000000;
  color:#ffffff;
  border: none;
  height: 6vw;
  margin-top: 2vw 0 2vw 0;
  width: 35.4vw;
  &:focus.submit-button {
  outline: 2px solid #FFFFFF;
  border-color: transparent;
  }
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  @include display(center);
  margin-bottom: .2vw;
}

.trend-line {
  font-size: 2vw;
  width: 20vw;
  text-align: center;
}

/* BUTTONS */
.info-button {
  @include main-button-style($info);
  margin-left: 1vw;
  &:hover {
    @include button-hover();
  }
}

.friends-button {
  @include main-button-style($friends-button);
  margin-right: 1vw;
  &:hover {
    @include button-hover();
  }
}

.calendar-button {
  @include main-button-style($calendar);
  margin-right: 1vw;
  float: right;
  &:hover {
    @include button-hover();
  }
}

.trending-button {
  @include main-button-style($trending-button);
  margin-left: .5vw;
  position: absolute;
  left: 1vw;
  &:hover {
    @include button-hover();
  }
}

.new-input-button {
  @include main-button-style($input-button);
  margin-left: 1vw;
  &:hover {
    @include button-hover();
  }
}

.go-back-button {
  @include main-button-style($go-back);
  margin: 1.8vw;
  &:hover {
    @include button-hover();
  }
}

/* CHANGING CLASSES */
.hide {
  display: none;
}

.green-text {
  color: $contrast-green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #F8BA00;
}