*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background-color: #1F1F1F;
  font-family: 'Oswald', sans-serif;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
}

button:active {
  border: none;
  outline: none;
}

#profile-button {
  background-image: url(../images/profile.png);
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  float: right;
  height: 5.6vw;
  margin-right: .5vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}

#user-info-dropdown {
  background-color: #1F1F1F;
  color: white;
  margin-left: 60%;
  margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

/* TEXT ELEMENTS */
h1 {
  color: #fff;
  display: inline;
  font-size: 5.4vw;
  letter-spacing: .2em;
}

h3 {
  font-size: 7vw;
  letter-spacing: .1em;
}

h2 {
  display: inline;
  font-family: 'Work Sans', sans-serif;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: .2em;
}

h4 {
  font-size: 6vw;
}

h5 {
  font-size: 1.8vw;
  padding-bottom: 1vw;
  text-align: center;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: .2vw;
  margin-right: 1vw;
  padding-top: 2vw;
  text-align: right;
  width: 9vw;
  word-break: keep-all;
}

/* MAIN */
main {
  display: grid;
  grid-template-areas:
  'steps hydration'
  'stairs sleep';
  height: 100%;
}

.main-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vw;
  justify-content: center;
}

.main-card-top-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#steps-card-container {
  background-color: #E66100;
  grid-area: steps;
  margin: .5vw;
}

#hydration-card-container {
  background-color: #0C7BDC;
  grid-area: hydration;
  margin: .5vw;
}

#stairs-card-container {
  background-color: #8975B2;
  grid-area: stairs;
  margin: .5vw;
}

#sleep-card-container {
  background-color: #23879f;;
  grid-area: sleep;
  margin: .5vw;
}

.card-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: .2vw;
}

.trend-line {
  font-size: 2vw;
  text-align: center;
  width: 20vw;
}

/* BUTTONS */
.info-button {
  background-position: center;
  background-size: 3.4vw;
  background-color: transparent;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

.friends-button {
  background-position: center;
  background-size: 3.4vw;
  background-color: transparent;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-right: 1vw;
  width: 3.4vw;
}

.calendar-button {
  background-position: center;
  background-size: 3.4vw;
  background-color: transparent;
  border: none;
  display: inline;
  float: right;
  height: 3.4vw;
  margin-right: 1vw;
  width: 3.4vw;
}

.trending-button {
  background-position: center;
  background-size: 3.4vw;
  background-color: transparent;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

.new-input-button {
  background-position: center;
  background-size: 3.4vw;
  background-color: transparent;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

.go-back-button {
  background-position: center;
  background-size: 3.4vw;
  background-color: transparent;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  margin-top: 1vw;
  width: 3.4vw;
}

.steps-go-back-button {
  background-image: url(../images/goback.svg);
}

.steps-info-button{
  background-image: url(../images/info.svg);
}

.steps-friends-button {
  background-image: url(../images/friends.svg);
}

.steps-calendar-button {
  background-image: url(../images/calendar.svg);
}

.hydration-go-back-button {
  background-image: url(../images/goback.svg);
}

.hydration-info-button {
  background-image: url(../images/info.svg);
}

.hydration-friends-button {
  background-image: url(../images/friends.svg);
}

.hydration-calendar-button {
  background-image: url(../images/calendar.svg);
}

.stairs-go-back-button {
  background-image: url(../images/goback.svg);
}

.stairs-info-button {
  background-image: url(../images/info.svg);
}

.stairs-friends-button {
  background-image: url(../images/friends.svg);
}

.stairs-calendar-button {
  background-image: url(../images/calendar.svg);
}

.sleep-go-back-button {
  background-image: url(../images/goback.svg);
}

.sleep-info-button {
  background-image: url(../images/info.svg)
}

.sleep-friends-button {
  background-image: url(../images/friends.svg);
}

.sleep-calendar-button {
  background-image: url(../images/calendar.svg);
}


.steps-trending-button {
  background-image: url(../images/trending.svg);
}

.stairs-trending-button {
  background-image: url(../images/trending.svg);
}

.new-input-button {
  background-image: url(../images/newinput.svg);
}



/* CHANGING CLASSES */
.hide {
  display: none;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #F8BA00;
}
