@import 'variables';
@import 'mixins';

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
border: 1px solid red;
}

body {
  background-color: $black;
  font-family: 'Oswald', sans-serif;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
}

button:active {
  @include no-border(none);
}

#profile-button {
  @include profile-button();
}

#user-info-dropdown {
  background-color: $black;
  color: white;
  margin-left: 60%;
  margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

/* TEXT ELEMENTS */
h1 {
  color: #fff;
  display: inline;
  @include font-style(5.4vw, .2em);
}

h3 {
  @include font-style(7vw, .1em);
}

h2 {
  display: inline;
  font-family: $main-box-font-family;
  @include font-style(3vw, .2em);
  font-weight: 700;
}

h4 {
  font-size: 6vw;
}

h5 {
  font-size: 1.8vw;
  padding-bottom: 1vw;
  text-align: center;
}

p {
  font-family: $main-box-font-family;
  @include font-style(1.2vw, .2vw);
  font-weight: 600;
  margin-right: 1vw;
  padding-top: 2vw;
  text-align: right;
  width: 9vw;
  word-break: keep-all;
}

/* MAIN */
main {
  display: grid;
  grid-template-areas:
  'steps hydration'
  'stairs sleep';
  height: 100%;
}

.main-card {
  align-items: center;
  @include display(center);
  flex-direction: column;
  height: 20vw;
}

.main-card-top-row {
  align-items: center;
  @include display(space-between);
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  width: 100%;
}

#steps-card-container {
  @include card-container(#E66100, steps);
}

#hydration-card-container {
  @include card-container(#0C7BDC, hydration);
}

#stairs-card-container {
  @include card-container(#8975B2, stairs);
}

#sleep-card-container {
  @include card-container(#23879f, sleep);
}

.calendar-card {
  padding-bottom: 10%;
}

.card-data-line {
  @include display(center);
  margin-bottom: 2vw;
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  @include display(center);
  margin-bottom: .2vw;
}

.trend-line {
  font-size: 2vw;
  text-align: center;
  width: 20vw;
}

/* BUTTONS */
.info-button {
  @include main-button-style($info);
  margin-left: 1vw;
}

.friends-button {
  @include main-button-style($friends-button);
  margin-right: 1vw;
}

.calendar-button {
  @include main-button-style($calendar);
  margin-right: 1vw;
  float: right;
}

.trending-button {
  @include main-button-style($trending-button);
  margin-left: 1vw;
}

.go-back-button {
  @include main-button-style($go-back);
  margin: 1vw;
}

/* CHANGING CLASSES */
.hide {
  display: none;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #F8BA00;
}
